.list {
    margin: 1rem 10%;
    list-style-type: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #FFF;
}

.list li {
    margin-top: 0.5rem;
    background-color: #2a2a2a;
    padding: 0.35rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-button {
    padding: 0.25rem;
    width: 90px;
    font-weight: bold;
    background-color: #2a2a2a;
    color: limegreen;
}