nav {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  background: #333;
  padding: 0.5rem;
}

nav button {
  color: white;
  background: transparent;
  border: 1px solid white;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
}

nav button:disabled {
  color: limegreen;
  border-color: limegreen;
}
