* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-one: #333;
    --color-two: #2a2a2a;
    --color-three: limegreen;
    --color-four: #1a1a1a;

    --small-space: 0.3rem;
}

body {
    background-color: var(--color-four);
}

.header {
    background-color: var(--color-one);
}

.container {
    background-color: var(--color-four);
    height: 100vh;
}

.editor {
    background-color: var(--color-one);
    margin: 0 10%;
    height: 78vh;
}

.title {
    margin: 0 10%;
    padding-top: 1.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #FFF;
}

.back-button {
    padding: 0.25rem;
    width: 80%;
    margin-left: 10%;
    margin-top: 1.35rem;
    font-weight: bold;
    background-color: var(--color-two);
    color: var(--color-three);
}

.editor-form {
    margin: 1rem 10%;
    list-style-type: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #FFF;
}

label {
    color: #FFF;
    font-weight: bold;
}

textarea {
    background-color: var(--color-two);
    border: none;
    color: #FFF;
    height: 200px;
    width: 100%;
    padding: 0.35rem;
    margin-top: .35rem;
}